{{#partial "contenido"}}
{{#with poi}}
	<h1> Poi {{nombre}} </h1>
	
	<h3>Ubicacion</h3>
	<style>
	   #map {
        height: 400px;
        width: 100%;
       }
    </style>
	<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: {{latitud}}, lng: {{longitud}} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMsV0UaRboqdTWSR13EV0d_xgsi8Qjbsg&callback=initMap">
    </script>
	<strong>Servicios:</strong>
	<strong>Horarios Mañana:</strong>
	<strong>Horarios Tarde:</strong>
	<strong>Servicios:</strong>
	<li style="list-style: none">{{#each servicios}}</li>
 	<li>{{this}}</li>
 	<li style="list-style: none">{{/each}}</li>
	<strong>Horarios Mañana:</strong>
	<li style="list-style: none">{{#each horariosmaniana}}</li>
 	<li>{{this}}</li>
 	<li style="list-style: none">{{/each}}</li>
 	<strong>Horarios Tarde:</strong>
	<li style="list-style: none">{{#each horariostarde}}</li>
 	<li>{{this}}</li>
 	<li style="list-style: none">{{/each}}</li>
	
{{/with}}
<a href="/terminal/buscarPois" class="btn btn-primary" role="button">Volver</a>
{{/partial}}

{{>layoutTerminal.hbs}}